---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - platform.platform.dev
  resources:
  - sharedresources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.platform.dev
  resources:
  - sharedresources/finalizers
  verbs:
  - update
- apiGroups:
  - platform.platform.dev
  resources:
  - sharedresources/status
  verbs:
  - get
  - patch
  - update
